<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head> 
 <body>
 <h1>Team Name: <%= @name %></h1>
    <p> Coach: <%= @coach %> </P>
    <p>Point Guard: <%= @pg %></P>
    <p>Power Forward: <%= @pf %></P>
    <p>Shooting Guard: <%= @sg %></P>
    <p>Small Forward: <%= @sf %></P>
    <p>Center: <%= @c %></P>
 </body>
</html>


